.box{
    width: 432px;
    padding: 0px;
    height: 560px;
    background-color: red;
    border-radius: 10px;
    background-image: url(https://t4.ftcdn.net/jpg/02/99/58/35/360_F_299583549_nhVRkQKMO1mpZ3NBoNz1I8HRUi6aR2w4.jpg);
}
header{
    width: 100%;
    height: 80px;
    background-color: blue;
}
input{
    width: 170px;
    height: 16px;
    padding: 11px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    border-color: #ccd0d5;
    margin: 20px;    
}
input[type=number]{
    width: 375px;
    height: 16px;
    padding: 11px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    border-color: #ccd0d5;
    margin: 20px;    

}


input[type=password]{
    width: 375px;
    height: 16px;
    padding: 11px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    border-color: #ccd0d5;
    margin: 20px; 
}
header h2{
    font-weight: 600;
    text-align: center;

}
header h3{
    text-align: center;

}
select{
    width: 135px;
    height: 36px;
    border-radius: 5px;
    
    border-color: #ccd0d5;
    background-size: 14px;
    margin: 3px;
}

button{
    background-color: green;
    width: 140px;
    height: 36px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}
span{
    color: #ccd0d5;
    font-weight: 600;
    font-size: 20px;
    
}
    
   
    
    


